    /* Error Style */
.formControl.error input,
.formControl.error textarea
{
    box-shadow: 0 0 4px 1px #f44336;
}

.formControl.error span {
    color: rgba(244, 67, 54, 0.7);
}

.formSummaryError {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px #f44336;
    padding: 5px;
    text-align: center;
    color: rgba(244, 67, 54, 0.7);
}

.formControl {
    margin: 20px 0;
}